<%- include('../partials/header') %>
<div>
    <ul>
      <% skills.forEach(function(s) { %>
        <li>
          <form action="/skills/<%= s.id %>?_method=DELETE" method="POST" class="delete-form">
            <button type="submit">X</button>
            <a href="/skills/<%= s.id %>"><%= s.skill %></a>
          </form>
            - 
          <%= s.classType === 'CIT'  ? 'Job Relivant' : 'Not Job Relivant' %>
        </li>
      <% }); %>
    </ul>
</div>

<%- include('../partials/footer') %>