<%- include('../partials/header') %>
<div>
<h3><%= skill.skill %></h3>
<h3>Course Designation: <%= skill.classType %></h3>
<a href="/skills/<%= skill.id %>/edit">EDIT</a>
</div>
<%- include('../partials/footer') %>